li > button {
    display: block;
    margin-bottom: 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1em;
    border-style:double;
    border-width: 1px;
    border-color: blue;
    width: auto;
}